<p class=" slidecap courutittle cap"> Sản phẩm nổi bật</p>
        <div id="banner" class="carousel slide" data-ride="carousel">
    
    
          <div class="carousel-indicators">
            <li data-target="#banner" data-slide-to="0" class="active"></li>
            <li data-target="#banner" data-slide-to="1"></li>
            <li data-target="#banner" data-slide-to="2"></li>
          </div>
    
    
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a [routerLink]="['product','121']">
                <img alt="First slide" src="assets/images/c1.jpg" height="250px">
                <div class="carousel-caption">
                  <p class="carousel-text">Xanh đỏ tím vàng: <span> 1000</span> </p>
                </div>
              </a>
            </div>
            <div class="carousel-item">
              <a  [routerLink]="['product','122']">
                <img alt="First slide" src="assets/images/c2.jpg" height="250px">
                <div class="carousel-caption">
                  <p class="carousel-text">Bít tết khoai tây: <span> 20000</span> </p>
                </div>
              </a>
            </div>
            <div class="carousel-item">
              <a  [routerLink]="['product','123']">
                <img alt="First slide" src="assets/images/c3.jpg" height="250px">
                <div class="carousel-caption">
                  <p class="carousel-text">Gà rán cục: <span> 20000</span> </p>
                </div>
              </a>
            </div>
          </div>
    
    
          <a class="carousel-control-prev" href="#banner" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#banner" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
        <div style="margin-top:30px;">
          <p class=" slidecap courutittle cap"> Let's check out</p>
          <img src="assets/images/arrow.png" alt="" width="80%" >
    
        </div>