<header>
  <div class="col-md-1-12|auto">
    <nav class="navbar navbar-expand-md bg-info navbar-dark">

      <a class="navbar-brand" routerLink="/"><img src="assets/images/logo.png" height="50px" alt=""></a>
      
      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Trang chủ</a>
          </li>
          
          <li class="nav-item">
              <a class="nav-link" routerLink="profile" [hidden]="!check()">Tài khoản</a>
            </li>
          <li class="nav-item dropdown">
            
            <a class="nav-link " href="#" id="navbardrop" data-toggle="dropdown">Danh mục</a>
            <div class="dropdown-menu">
                
              <a class="dropdown-item" [routerLink]="['products','VN']">Đồ ăn Việt</a>
              <a class="dropdown-item" [routerLink]="['products','JP']">Đồ ăn Nhật</a>
              <a class="dropdown-item" [routerLink]="['products','KR']">Đồ ăn Hàn</a>
              <a class="dropdown-item" [routerLink]="['products','FF']">Đồ ăn vặt</a>
              <a class="dropdown-item" [routerLink]="['products','DR']">Thức uống</a>
              
            </div>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="products">Sản phẩm</a>
          </li>
          <li class="nav-item" *ngIf="checkAdmin()">
            <a class="nav-link" routerLink="admin" >Admin</a>
          </li>
        
        </ul>
        
        <ul class="navbar-nav ml-auto">
          <div class="form-inline">
            <input class="form-control mr-sm-2 inputtexxt" type="text" placeholder="Tìm kiếm" #kw>
            <button class="btn btn-primary btnColor" [routerLink]="['products', kw.value]">Search</button>
          </div>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="register">Sign up</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="login" [hidden]="check()">Login</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" (click)="logout()"  [hidden]="!check()">Logout</a>
          </li>
        </ul>
      </div>

    </nav>
  </div>
</header>