USE [master]
GO
/****** Object:  Database [SalesFood]    Script Date: 1/5/2019 12:52:46 AM ******/
CREATE DATABASE [SalesFood]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SalesFood', FILENAME = N'E:\SQLSever\MSSQL12.HAOSV\MSSQL\DATA\SalesFood.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SalesFood_log', FILENAME = N'E:\SQLSever\MSSQL12.HAOSV\MSSQL\DATA\SalesFood_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SalesFood].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SalesFood]
GO
/****** Object:  UserDefinedFunction [dbo].[f_NextID]    Script Date: 1/5/2019 12:52:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[f_NextID]() RETURNS INT as
BEGIN
 
 RETURN ISNULL(IDENT_CURRENT('PRODUCTS'),0) + 1
 END

GO
/****** Object:  Table [dbo].[Account]    Script Date: 1/5/2019 12:52:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[Role] [int] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 1/5/2019 12:52:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[Id] [varchar](100) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK__CATEGORY__3214EC07E6A9AC36] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 1/5/2019 12:52:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Feedback](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[PId] [int] NULL,
	[Comment] [ntext] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HighlightP]    Script Date: 1/5/2019 12:52:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HighlightP](
	[Pid] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 1/5/2019 12:52:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[Usename] [varchar](50) NOT NULL,
	[ProductID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Quantity] [int] NULL,
	[Price] [money] NULL,
 CONSTRAINT [PK_Orders_1] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 1/5/2019 12:52:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [money] NOT NULL,
	[Description] [ntext] NULL,
	[Img] [nvarchar](max) NULL,
	[Cate_id] [varchar](100) NULL,
 CONSTRAINT [PK_PRODUCTS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Account] ([Username], [Password], [Name], [Role]) VALUES (N'abcpower123', N'suhao123', N'Dang thanh hao', 1)
INSERT [dbo].[Account] ([Username], [Password], [Name], [Role]) VALUES (N'admin', N'admin', N'My name ''s  admin', 1)
INSERT [dbo].[Account] ([Username], [Password], [Name], [Role]) VALUES (N'hao', N'hao', N'Hao', 0)
INSERT [dbo].[CATEGORY] ([Id], [Name]) VALUES (N'DR', N'Thức uống')
INSERT [dbo].[CATEGORY] ([Id], [Name]) VALUES (N'FF', N'Thức ăn nhanh')
INSERT [dbo].[CATEGORY] ([Id], [Name]) VALUES (N'JP', N'Đồ ăn Nhật')
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([Id], [Username], [PId], [Comment]) VALUES (1, N'abcpower123', 2, N'Dở ẹc')
INSERT [dbo].[Feedback] ([Id], [Username], [PId], [Comment]) VALUES (2, N'admin', 3, N'Quá lạnh')
INSERT [dbo].[Feedback] ([Id], [Username], [PId], [Comment]) VALUES (3, N'admin', 2, N'Ngon mà')
SET IDENTITY_INSERT [dbo].[Feedback] OFF
INSERT [dbo].[HighlightP] ([Pid]) VALUES (1)
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [Usename], [ProductID], [Date], [Quantity], [Price]) VALUES (1, N'abcpower123', 8, CAST(N'2018-06-28' AS Date), 4, 5000.0000)
INSERT [dbo].[Orders] ([OrderID], [Usename], [ProductID], [Date], [Quantity], [Price]) VALUES (2, N'abcpower123', 1, CAST(N'2018-06-29' AS Date), 2, 15000.0000)
INSERT [dbo].[Orders] ([OrderID], [Usename], [ProductID], [Date], [Quantity], [Price]) VALUES (3, N'abcpower123', 14, CAST(N'2018-06-29' AS Date), 5, 80000.0000)
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[PRODUCTS] ON 

INSERT [dbo].[PRODUCTS] ([Id], [Name], [Price], [Description], [Img], [Cate_id]) VALUES (1, N'Cà phê', 15000.0000, N'Cà phê đen đậm đà', N'1caphe.jpg', N'DR')
INSERT [dbo].[PRODUCTS] ([Id], [Name], [Price], [Description], [Img], [Cate_id]) VALUES (2, N'Chim cút nướng', 30000.0000, N'Ngon bổ rẻ', N'2chimcutnuong.jpg', N'VN')
INSERT [dbo].[PRODUCTS] ([Id], [Name], [Price], [Description], [Img], [Cate_id]) VALUES (3, N'Coca cola', 70000.0000, N'Coca 1 ly', N'3coca.png', N'DR')
SET IDENTITY_INSERT [dbo].[PRODUCTS] OFF
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Account] FOREIGN KEY([Usename])
REFERENCES [dbo].[Account] ([Username])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Account]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_PRODUCTS] FOREIGN KEY([ProductID])
REFERENCES [dbo].[PRODUCTS] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_PRODUCTS]
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD  CONSTRAINT [FK__PRODDUCT__Cate_i__117F9D94] FOREIGN KEY([Cate_id])
REFERENCES [dbo].[CATEGORY] ([Id])
GO
ALTER TABLE [dbo].[PRODUCTS] CHECK CONSTRAINT [FK__PRODDUCT__Cate_i__117F9D94]
GO
USE [master]
GO
