<p class=" slidecap courutittle cap"> Sản phẩm bán chạy nhất</p>
          <div class="card" style="width:100%">
            <a [routerLink]="['product','13']">
              <img class="card-img-top" src="assets/img/paint.jpg" alt="Card image">
              <div class="card-img-overlay">
                  <h4 class="card-title">Lẩu hải sản</h4>
                  <p class="card-text">Đậm đà hương vị biển. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis sequi veniam accusamus ad. Nostrum deserunt accusantium, sequi odio explicabo ipsum dolore delectus libero laudantium consequatur, fugiat optio aut architecto maxime.</p>
      
              </div>
            </a>
          </div>